# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings - Ignore user-specific data and workspace
xcuserdata/

## Obj-C/Swift specific - Ignore header maps and app packaging files
*.hmap

## App packaging - Ignore app build files and debug symbols
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds - Ignore unnecessary files within Playgrounds
timeline.xctimeline
playground.xcworkspace

# Ignore all unnecessary playground-related files
*.playground/*.xcworkspace/
*.playground/xcuserdata/
*.playground/*.xcodeproj/
*.playground/*.xctemplate
*.playground/*.xcuserstate
*.playground/Timeline.xctimeline
*.playground/playground.xcworkspace/

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

*.swift

# Ignore unnecessary files and directories globally, but keep .playground files
!*.playground  # Keep .playground files and include them in version control
